@import "tailwindcss";

@theme {
  --color-primary-text: #212529;
  --color-secondary-text: #343A40;

  --color-purple: #8338EC;
  --color-yellow: #F7BC30;
  --color-orange: #FB5607;
  --color-pink: #FF006E;
  --color-blue: #3A86FF;
  --color-light-gray: #DEE2E6;

  --color-priority-high: #FA4D4D;
  --color-priority-med: #FFBE0B;
  --color-priority-low: #08A508;
}

h1 {
  font-size: 2.125rem;
  font-weight: 600;
  color: var(--color-primary-text);
}




