@import "tailwindcss";

@theme {
  --color-primary-text: #212529;
  --color-secondary-text: #343A40;

  --color-purple: #8338EC;
  --color-light-purple: #B588F4;
  --color-light-pink: #F8F3FEA6;
  --color-yellow: #F7BC30;
  --color-orange: #FB5607;
  --color-pink: #FF006E;
  --color-blue: #3A86FF;
  --color-light-gray: #DEE2E6;
  --color-light-black: #0D0F10;

  --color-priority-high: #FA4D4D;
  --color-priority-med: #FFBE0B;
  --color-priority-low: #08A508;
}

h1 {
  font-size: 2.125rem;
  font-weight: 600;
  color: var(--color-primary-text);
}

.dp-dashed-border {
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23CED4DAFF' stroke-width='2' stroke-dasharray='3%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.dp-dashed-border.error {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23FA4D4DFF' stroke-width='2' stroke-dasharray='3%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

body {
  font-family: 'FiraGO', sans-serif;
}

.dp-grid-row-auto {
  grid-template-rows: auto auto auto;
}

